@model List<Product>

<div class="container">
	<div class="row">

		<a class="btn btn-success" asp-action="Create" asp-controller="Product">Create</a>
		<table class="table table-hover table-dark">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Title</th>
					<th scope="col">Price</th>
					<th scope="col">ImagePath</th>
					<th scope="col">CreatedDate</th>
					<th scope="col">UpdatedDate</th>
					<th scope="col">IsDeleted</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>

				@foreach (Product product in Model)
				{
					<tr>
						<th scope="row">@product.Id</th>
						<td>@product.Title</td>
						<td>@product.Price</td>
						<td> <img src="~/assets/images/@product.ImageName" width="30" height="30" alt="Alternate Text" /></td>
						<td>@product.CreatedDate</td>
						<td>@product.UpdatedDate</td>
						<td>@product.IsDeleted</td>
						<td>
							<a asp-action="Update" asp-route-id="@product.Id" class="btn btn-warning">Update</a>

							<a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
							     
							<form asp-action="SoftDelete" asp-route-id="@product.Id" method="post" style="display:inline">
								<button type="submit" class="btn btn-success">
									@(product.IsDeleted ? "Restore" : "Soft Delete")
								</button>
							</form>
						</td>


					</tr>
				}



			</tbody>
		</table>
	</div>
</div>
